# Python
__pycache__/
*.pyc

# dbt
dbt_packages/
target/
logs/

# VS Code
.vscode/

# Environment Variables
.env

# Mac
.DS_Store

# Windows
Thumbs.db

# Snowflake
*.snowsql

# Terraform
.terraform/
terraform.tfstate
terraform.tfstate.backup

# Streamlit
.streamlit/secrets.toml